@font-face {
    font-family: rochaline;
    src: url(Rochaline-Regular.otf);
}

.form-style-8{
    font-family: rochaline, 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    font-size: 20px;

}
.form-style-8 h2{
    background: #444444;
    text-transform: uppercase;
    font-family: rochaline, 'Open Sans Condensed', sans-serif;
    color: #929292;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #4D4D4D;
}

.form-style-8 input[type="submit"]{
    background:linear-gradient(to bottom, #e40d54 5%, #920a37 100%);
    background-color:#920a37;
    border: 1px solid #5a021f;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
}

.form-style-8 input[type="submit"]:hover{
    background:linear-gradient(to top, #e40d54 5%, #920a37 100%);
    background-color:#e40d54;
}

.errors{
    font-weight: bold;
    color:rgb(161, 35, 35);
    font-style: italic;
    text-align: center;
    height: fit-content;
}